.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
  
.formContainer form {
    display: flex;
    flex-direction: column;
}
  
.formContainer button {
    margin: 0.5rem;
    padding: 0.4rem;
    align-self: center;
    font-size: 1rem;
    font-weight: bold;
    color: #FFF;
    background-color: darkgray;
    border: 1px solid #CCC;
    border-radius: 0.2rem;
    cursor: pointer;
}
  
.image img {
    width: 400px;
    height: 400px;
    border-radius: 0.25rem;
}

.formError {
    margin: 0 2rem;
}

.errorTitle {
    font-size: 0.8rem;
    color: red;
}

.error {
    margin: 0.1rem;
    font-size: 0.7rem;
    color: red;
}

.resultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
    border: 1px solid #ccc;
}

.resultTitle {
    margin: 0;
    font-size: 0.9rem;
}

.resultText {
    font-size: 0.8rem;    
}

.resultText span { 
    font-weight: 900;
}
