.wallsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    max-width: 700px;
}

.wall {
    width: 15rem;
    padding: 0.1rem;
    border: 1px solid #CCC;
    border-radius: 0.25rem;
}

.wall fieldset {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0;
    border: none;
    margin: 1rem 0.5rem;
  }
  
.wall fieldset label {
    font-size: 0.8rem;
}

.wall fieldset input {
    width: 25%;
}
